Unattended-Upgrade::Automatic-Reboot "{{ 'true' if security_autoupdate_reboot | bool else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_autoupdate_reboot_time }}";
{% if security_autoupdate_mail_to %}
Unattended-Upgrade::Mail "{{ security_autoupdate_mail_to }}";
Unattended-Upgrade::MailOnlyOnError "{{ 'true' if security_autoupdate_mail_on_error | bool else 'false' }}";
{% endif %}
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";

Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

Unattended-Upgrade::Package-Blacklist {
{% for package in security_autoupdate_blacklist %}
    "{{ package }}";
{% endfor %}
};
