[defaults]
roles_path = ./roles
local_tmp = ./.ansible/tmp
vault_password_file = .vault-password
become_password_file = .sudo-password
inventory = inventory/prod/hosts.yml
host_key_checking = True
interpreter_python = /usr/bin/python3
stdout_callback = ansible.builtin.default
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks,ansible.posix.timer

[ssh_connection]
pipelining = True
