# Ansible managed

driftfile /var/lib/ntpsec/ntp.drift

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% for server in ntp_servers %}
pool {{ server }}
{% endfor %}

restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1

{% for restrict_host in ntp_restrict %}
restrict {{ restrict_host }}
{% endfor %}
